/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-blue-bg: #00a8f3;
  --matr-blue-bg-rgb: 0, 168, 243;
  --matr-blue-bg-rgba: rgba(0, 168, 243, 0.3);
  --matr-btn-bg: #ee107f;
  --matr-pink-bg-rgba: rgba(238, 16, 127, 0.3);
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-blue-bg-rgb);
  background: fixed center url("images/ohana-scholars-background.jpg");
  background-size: cover;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-blue-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-blue-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

#landing {
  height: 450px;
}

#second-row {
  background-color: var(--matr-pink-bg-rgba);
}

#footer {
  --bs-link-color: var(--bs-body-color);
  --bs-link-hover-color: white;
}

.btn-lg {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.pink-btn {
  --bs-btn-bg: var(--matr-btn-bg) !important;
  --bs-btn-border-color: var(--matr-btn-bg) !important;
  --bs-btn-hover-bg: var(--matr-blue-bg) !important;
  --bs-btn-hover-border-color: var(--matr-blue-bg) !important;
  --bs-btn-border-radius: 0px !important;
}

.home-page-btn {
  margin: 10px 10px 10px 10px;
}

#filter-stuff {
  border: black;
  border-width: 10px;
}

.white-link {
  color: white !important;
}