/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #00a8f3;
  --matr-navbar-bg-rgb: 0, 168, 243;
  --matr-btn-bg: #ee107f;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  background: fixed center url("images/ohana-scholars-background.jpg");
  background-size: cover;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

#landing {
  height: 450px;
}

#footer {
  --bs-link-color: var(--bs-body-color);
  --bs-link-hover-color: white;
}

.btn {
  margin: 10px;
}

.pink-btn {
  --bs-btn-bg: var(--matr-btn-bg) !important;
  --bs-btn-border-color: var(--matr-btn-bg) !important;
  --bs-btn-hover-bg: var(--matr-navbar-bg) !important;
  --bs-btn-hover-border-color: var(--matr-navbar-bg) !important;
}
